@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #24252A;
    font-family: 'Nunito', 'sans-serif';
    font-size: 18px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    /* Nice red: #c43939 */
    background: #32a852;
    padding: 1em 0;
}

header a {
    color: white;
    text-decoration: none;
}

header a.logo {
    font-weight: bold;
    border-style: solid;
    border-radius: 8px;
    padding: 5px;
}

header nav {
    float: right;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    display: flex;
}

header nav ul li a {
    padding: 1em;
    transition: all 0.3s ease 0s;
}

header nav ul li a:hover {
    /* Nice dark red: #802626 */
    background: #1d612f;
}

.welcome {
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    color: white;
}

.about-main {
    padding: 20px;
    margin: 0 auto;
    color: white;
    margin-left: 10%;
    margin-right: 10%;
}

.about-header {
    text-align: center;
}

#about-details {
    border-collapse: collapse;
    width: 100%;
}

#about-details td, #about-details, th {
    border: 1px solid #ddd;
    padding: 8px;
}

#about-details tr:hover {
    background-color: rgb(53, 54, 75);
}

#about-details th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}

.about-links {
    text-decoration: none;
    color: rgb(0, 161, 167);
}

.about-imgs {
    display: block;
    border: 5px solid rgb(0, 82, 97);
    border-radius: 1%;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #32a852;
    color: white;
    text-align: center;
}

.dev {
    color: lightgray;
    font-size: 16px;
}
